@using WebCoffe.Models
@model Narudzba
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <center>

    <h2 style="font-family:CaptureIt; font-size:50pt; margin-bottom:100pt">Web Shop Narudzba</h2>

    @using (Html.BeginForm("DodajNarudzbu", "Shop", FormMethod.Post))
            {
        @Html.AntiForgeryToken()
    <table>

        <tr>
            <td>@Html.LabelFor(model => model.Ime)</td>
            <td>@Html.TextBoxFor(model => model.Ime)</td>
            <td>@Html.ValidationMessageFor(mode => mode.Ime)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Prezime)</td>
            <td>@Html.TextBoxFor(model => model.Prezime)</td>
            <td>@Html.ValidationMessageFor(model => model.Prezime)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Telefon)</td>
            <td>@Html.TextBoxFor(model => model.Telefon)</td>
            <td>@Html.ValidationMessageFor(model => model.Telefon)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Adresa)</td>
            <td>@Html.TextBoxFor(model => model.Adresa)</td>
            <td>@Html.ValidationMessageFor(model => model.Adresa)</td>

        <tr>
            <td>@Html.LabelFor(model => model.Grad)</td>
            <td>@Html.TextBoxFor(model => model.Grad)</td>
            <td>@Html.ValidationMessageFor(model => model.Grad)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Postanski_broj)</td>
            <td>@Html.TextBoxFor(model => model.Postanski_broj)</td>
            <td>@Html.ValidationMessageFor(model => model.Postanski_broj)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Id_poslovnica)</td>
            <td>@Html.EnumDropDownListFor(model => model.Id_poslovnica)</td>
            <td>@Html.ValidationMessageFor(model => model.Id_poslovnica)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Id_kava)</td>
            <td>@Html.EnumDropDownListFor(model => model.Id_kava)</td>
            <td>@Html.ValidationMessageFor(model => model.Id_kava)</td>
        </tr>
    </table>
    @Html.ValidationSummary(true, "Spremanje nije uspjelo!");

    <p style="color:white"><input type="submit" value="Naruci" style="margin-top:50pt; background-color:rgb(50,50,50); font-family:CaptureIt; font-size:20pt" /></p>
            }
    </center>
</div>